body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado{
    background: #002b66;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.titulo{
    background: #022b66;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 25px 0;
}

.decoración{
    height: 10px;
    background: red;
}

.fila{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.color-azul{
    background: #5c93c4;
    flex: 1;
    margin: 10px;
    padding: 30px;
    text-align: center;
    color: yellow;
    font-weight: bold;
    font-size: 22px;
}

.color-rojo{
    background: #c40000;
    flex: 2;
    margin: 10px;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

.logo{
    background-color: #824545;
    color: yellow;
    text-align: center;
    padding: 100px;
    border-radius: 80px;
}

.logo img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 80px;
}

.cotizacion{
    padding: 20px;
}

.cotizacion h2{
    text-align: center;
}

fieldset{
    margin: 15px 0;
    padding: 15px;
}

footer{
    text-align: center;
}